.fullpage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10;
}

.grid {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 0.25fr);
    align-items: start;
}

canvas {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 13;
    width: 50px; 
    height: 50px; 
}

#name {
    position : absolute;
    grid-row: 2 / 3;
    grid-column: 6 / 8;
    font-weight: bold;
    font-size: 2em;
    color: white;
    font-family: "Gill Sans", sans-serif;
}

#section-1 {
    position : relative;
    background-color: rgb(11, 11, 66);
    grid-column: 3 / 11;
    grid-row: 3 / 7;
    height: 100%;
    width: 100%;
}

#section-2 {
    position : relative;
    background-color: rgb(11, 11, 66);
    grid-column: 3 / 11;
    grid-row: 8 / 12;
    height: 100%;
    width: 100%;
}

#sub-1-section-1 {
    margin-top: 2.5em;
}


h4:not(#h4-t1,#h4-t2) {
    font-weight: bold;
    color: white;
    font-family: "Gill Sans", sans-serif;
    margin-top: 5.5em;
    margin-bottom: 5em;
    float:left;
}

h3 {
    grid-column: 3 / 11;
    height: auto;
    width: 100%;
    color: rgb(170, 170, 170);
    font-family: Noto Sans, sans-serif;
    margin-top: 9em;
    margin-bottom: 0.5em;
}

@media all and (max-width: 800px) {

    #name {
        position : absolute;
        grid-row: 2 / 3;
        grid-column: 4 / 10;
        font-weight: bold;
        color: white;
        font-family: "Gill Sans", sans-serif;
        margin-top: 0;
    }

    h3 {
        grid-column: 3 / 11;
        width: 100%;
        color: rgb(170, 170, 170);
        font-family: Noto Sans, sans-serif;
        margin-bottom: 0.5em;
    }

}

#bg {
    position : fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* section 1 */ 

.icon {
    margin-left:2%;
    float:left; 
} 

.icon-t1 {
    margin-left:4em;
    margin-top: 3em;
    margin-right: 1em;
    float:left; 
}

.icon-t2 {
    margin-left:3em;
    margin-top: 2em;
    margin-right: 1em;
    width: 13%;
    height: 23%;
    float:left; 
}


#h4-t1 {
    font-weight: bold;
    color: white;
    font-family: "Gill Sans", sans-serif;
    margin-top: 4.5em;
    margin-bottom: 5em;
    margin-left: 0.7em;
    float:left;
}

#h4-t2 {
    font-weight: bold;
    color: white;
    font-family: "Gill Sans", sans-serif;
    margin-top: 4.5em;
    margin-bottom: 5em;
    margin-left: 1em;
    float:left;
}

/* section 2 first box*/
.icon-1-s2 {
    margin-left:3em;
    margin-top: 2em;
    margin-right: 1em;
    width: 13%;
    height: 23%;
    float:left; 
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

/* Hoover and opacity setting */
.container-1:hover .icon-1-s2 {
    opacity: 0.3;
}

.container-1:hover #sub-1-s2-title {
    opacity: 1;
}

.container-1:hover #sub-1-s2-text {
    opacity: 1;
}

/* text and title position and settings of the box */
#sub-1-s2-title {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top : 20%;
    left: 9.3%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Noto Sans, sans-serif;
    font-size: 0.85em;
}

#sub-1-s2-text {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top : 38%;
    left: 9.3%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Noto Sans, sans-serif;
    font-size: 0.75em;
    font-style: italic;
}

/* section 2 second box*/
.icon-2-s2 {
    margin-left:3em;
    margin-top: 2em;
    margin-right: 1em;
    width: 13%;
    height: 23%;
    float:left; 
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

/* Hoover and opacity setting */
.container-2:hover .icon-2-s2 {
    opacity: 0.3;
}

.container-2:hover #sub-1-s2-title-2 {
    opacity: 1;
}

.container-2:hover #sub-1-s2-text-2 {
    opacity: 1;
}

/* text and title position and settings of the box */
#sub-1-s2-title-2 {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top : 20%;
    left: 26.3%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Noto Sans, sans-serif;
    font-size: 0.85em;
}

#sub-1-s2-text-2 {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top : 38%;
    left: 26%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Noto Sans, sans-serif;
    font-size: 0.75em;
    font-style: italic;
}

/* section 2 third box*/

.icon-3-s2 {
    margin-left:3em;
    margin-top: 2em;
    margin-right: 1em;
    width: 13%;
    height: 30%;
    float:left; 
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container-3:hover .icon-3-s2 {
    opacity: 0.3;
}

.container-3:hover #sub-1-s2-title-3 {
    opacity: 1;
}

.container-3:hover #sub-1-s2-text-3 {
    opacity: 1;
}

/* text and title position and settings of the box */
#sub-1-s2-title-3 {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top : 20%;
    left: 42.9%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Noto Sans, sans-serif;
    font-size: 0.85em;
}

#sub-1-s2-text-3 {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top : 38%;
    left: 42.9%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Noto Sans, sans-serif;
    font-size: 0.75em;
    font-style: italic;
}


/* responsive part for screens width between 800px and 1920px*/

@media all and (max-width: 1920px) and (min-width:800px){

    /* ##################### SECTION 1 ########################## */

    h4:not(#h4-t1,#h4-t2) {
        font-weight: bold;
        color: white;
        font-family: "Gill Sans", sans-serif;
        margin-top: 5.5em;
        margin-bottom: 5em;
        margin-right: 20em;
        float:left;
    }

    #h4-t1 {
        font-weight: bold;
        color: white;
        font-family: "Gill Sans", sans-serif;
        margin-top: 4.5em;
        margin-bottom: 5em;
        margin-left: 0.7em;
        margin-right: 20em;
        float:left;
    }

    .icon-t2 {
        margin-left:3em;
        margin-top: 2em;
        margin-right: 1em;
        width: 21%;
        height: 33%;
        float:left; 
    }

    /* ##################### SECTION 2 BOX 1 #################### */

    .icon-1-s2 {
        margin-left:3em;
        margin-top: 2em;
        margin-right: 1em;
        width: 10.2vw;
        height: 18.1vh;
        float:left; 
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    /* text and title position and settings of the box */
    #sub-1-s2-title {
        opacity: 0;
        transition: .5s ease;
        position: absolute;
        top : 6.2vh;
        left: 7.55vw;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: Noto Sans, sans-serif;
        font-size: 0.85em;
    }

    #sub-1-s2-text {
        opacity: 0;
        transition: .5s ease;
        position: absolute;
        top : 13.2vh;
        left: 7.55vw;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: Noto Sans, sans-serif;
        font-size: 0.75em;
        font-style: italic;
    }
    /* ##################### SECTION 2 BOX 2 #################### */
    .icon-2-s2 {
        margin-left:3em;
        margin-top: 2em;
        margin-right: 1em;
        width: 10.2vw;
        height: 18.1vh;
        float:left; 
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    /* text and title position and settings of the box */
    #sub-1-s2-title-2 {
        opacity: 0;
        transition: .5s ease;
        position: absolute;
        top : 6.2vh;
        left: 21vw;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: Noto Sans, sans-serif;
        font-size: 0.85em;
    }

    #sub-1-s2-text-2 {
        opacity: 0;
        transition: .5s ease;
        position: absolute;
        top : 13.2vh;
        left: 21vw;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: Noto Sans, sans-serif;
        font-size: 0.75em;
        font-style: italic;
    }
    /* ##################### SECTION 2 BOX 3 #################### */
    .icon-3-s2 {
        margin-left:3em;
        margin-top: 2em;
        margin-right: 1em;
        width: 10.2vw;
        height: 18.1vh;
        float:left; 
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    /* text and title position and settings of the box */
    #sub-1-s2-title-3 {
        opacity: 0;
        transition: .5s ease;
        position: absolute;
        top : 6.2vh;
        left: 34.6vw;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: Noto Sans, sans-serif;
        font-size: 0.85em;
    }

    #sub-1-s2-text-3 {
        opacity: 0;
        transition: .5s ease;
        position: absolute;
        top : 13.2vh;
        left: 34.6vw;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: Noto Sans, sans-serif;
        font-size: 0.75em;
        font-style: italic;
    }
}
